# Ignorar node_modules
node_modules/
**/node_modules/

# Otros archivos de configuración local
.vscode/
.idea/

# Archivos de compilación
/dist/
.build/

# Ignorar archivos temporales o de caché
*.log

# Ignorar del deploy en gh-pages ya que es temporal
gh-pages