@import 'tailwindcss';

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500 700;
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --color-Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --color-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --color-Grayish-Blue: hsl(212, 23%, 69%);
  --color-Light-Grayish-Blue: hsl(210, 46%, 95%);
  --font-Manrope: 'Manrope';
}
